.main{
  justify-content: center;
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__container {
    padding-top: 1rem;
    padding-bottom: 10rem;
  }
  &__title {
    display: flex;
    flex-direction: column;
    color: $color-text-primary;
    &-year {
      color: $color-contrast;
    }
  }
  &__subtitle {
    color: $color-text-secondary;
    border-top: $color-text-primary solid 0.1rem;
  }
  &__input {
    &-label {
      display: none;
    }
    &-area {
      background-color: $color-back-primary;
      border: $color-text-secondary solid .1rem;
      border-radius: 0.2rem;
      line-height: 2rem;
      width: 40%;
      padding: 0.5rem;
      font-size: 1rem;
      color: $color-text-primary;
    }
    &-choices {
      list-style: none;
      background-color: $color-back-secondary;
      border: $color-text-secondary solid .1rem;
      border-radius: 0.2rem;
      line-height: 2rem;
      width: 40%;
      padding: 0.5rem;
      font-size: 1rem;
      color: $color-text-primary;
      & li:hover, li:focus {
        background-color: $color-back-primary;
      }
    }

  }
}
