.map {
  &__container {
    height: 80%;
    background: $color-back-secondary;
  }
}
#mappa {
  width: 70% !important;
  height: 80% !important;
  margin-left: 2rem;
}
.locations {
  color: #000;
  z-index: 1000;
}

#yearSlider {
  width: 80%;

}
